@font-face {
  font-family: "ULMGROTESK-MEDIUM";
  src: url("../fonts/FONTSFREE-NET-ULMGROTESK-MEDIUM-2CDBC613774DB6ED499E18CFF9B882C6.TTF");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.otf");
}
@font-face {
  font-family: "ULMGROTESK-EXTRABOLD";
  src: url("../fonts/FONTSFREE-NET-ULMGROTESK-EXTRABOLD-0B3118A57784E4D175EDB3A9CBA99B321.TTF");
}
@font-face {
  font-family: "Agino-moul";
  src: url("../fonts/Aginomoul.ttf");
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.hero {
  background-image: url("../img/pantallaxd.mp4");
  height: 120vh;
  background-position: center;
  background-size: cover;
}
.thunder-us {
  position: absolute;
  top: 8rem;
  display: none;
}
.thunder-us img {
  animation: spin-reverse 4s linear infinite;
}
.smile-us {
  position: absolute;
  top: 8rem;
  display: none;
  left: 40%;
}
.smile-us img {
  animation: spin 4s linear infinite;
}
.smile-us img {
  width: 8rem;
}
.welcome {
  animation: flickerAnimation 1.5s linear forwards !important ;
}
.glitch h2:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}
.glitch {
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}
.glitch h2:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

.modal-dialog {
  max-width: 90%;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pedidos {
  animation: crescendoPedido 1s alternate infinite ease-in;
}
.navbar-brand img {
  max-width: 8rem;
}
a {
  text-decoration: none !important;
}
.redes-sociales {
  position: fixed;
  /* top: -22rem; */
  width: 0rem;
  margin-top: 0%;
  position: relative;
  z-index: 99;
}
.formulario-email {
  display: flex;
  flex-direction: column;
}
.contact-zone {
  background-image: url("../img/fondo4.png");
  height: auto;
  background-size: cover;
  background-position: center;
  padding-top: 4rem;
}
.encuesta {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.formulario-email input,
textarea {
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
}
.phone-input {
  margin-top: 0;
}

.input-group-text {
  border: none;
}
.formulario-email button {
  padding: 0.5rem;
  background-color: rgb(105, 10, 0);
  margin-top: 2rem;
  color: white;
  width: 100%;
  border-radius: 0.3rem;
  transition: background-color 0.2s ease-in;
}

.formulario-email button:hover {
  background-color: rgb(87, 9, 0);
}

.subscribed-text {
  font-family: "ULMGROTESK-MEDIUM";
  font-size: 2.5em;
}
/* .boton-arriba-contenedor {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 1;
} */

.volver-arriba {
  width: 4rem;
  height: 4rem;
  background-color: rgb(105, 10, 0);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  transition: all 0.3s ease;
  box-shadow: 0px 7px 30px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.volver-arriba:hover {
  background-color: #deb659;
}
.volver-arriba i {
  font-size: 2.5rem;
  color: white;
  transition: 0.2s;
}

@keyframes popop {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 2rem;
    height: 2em;
  }
  100% {
    width: 4rem;
    height: 4rem;
  }
}
.redes-sociales img {
  display: flex;
  margin-top: -2rem;
}
/* .pedidos {
  text-align: right;
  position: relative;
  z-index: 99999999;
  top: -6rem;
  animation: crescendoSmall 1s alternate infinite ease-in;
} */
/* .pedidos2 {
  text-align: right;
  position: relative;
  z-index: 99999999;
  top: -12rem;
}
.pedidos2 img {
  width: 4.5rem;
  position: relative;
  z-index: 99999999;
  left: 3rem;
} */
.side-buttons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 10%;
  right: 3%;
  z-index: 99999999;
}

.side-buttons > div {
  margin-bottom: 2.5rem;
}
.side-buttons img {
  width: 4rem;
}
.modal {
  z-index: 999999999 !important;
}
/* .pedidos img {
  width: 10.5rem;
  position: relative;
  z-index: 99999999;
} */
@keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(150px, -150px);
  }
}
.nosotros {
  background-image: url("../img/bombillos.gif");
  height: 70rem;
  background-position: center;
  background-size: cover;
}
.cassete img {
  width: 27rem;
  position: relative;
  left: -9rem;
  top: 5rem;
  animation: diagonal-move-anim 3s linear infinite alternate;
}
.thunder2 img {
  position: absolute;
  top: 6rem;
}

.box img {
  max-width: 34rem;
}
.gallery {
  background-image: url("../img/fondo4.png");
  height: auto;
  background-position: center;
  background-size: cover;
}
.gallery- {
  margin-top: -9rem;
  overflow-x: hidden;
}
.label img {
  position: relative;
  top: 21rem;
  max-width: 8rem;
  z-index: 99;
}
#logo-animation {
  animation: circular 4s linear infinite;
  position: absolute;
}
@keyframes circular {
  from {
    transform: rotate(0deg) translateX(94px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(88px) rotate(-360deg);
  }
}
.thunder img {
  position: relative;
  top: -4rem;
  max-width: 7rem;
}
.images {
  width: 80rem;
}
button {
  width: 70rem;
}
.thunder {
  text-align: right;
  position: relative;
  left: -2rem;
  z-index: 9;
}

.hamburger-container {
  position: fixed;
  top: 10%;
  right: 4%;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 1;
  border-radius: 100%;
  z-index: 999999;
  cursor: pointer;
  background-color: #690a00;
}
.hamburger {
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 999999;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: white !important;
  margin: 6px 0;
  transition: 0.4s;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.contact {
  background-image: url("../img/hamburguesasfondo.png");
  height: auto;
  background-position: center;
  background-size: cover;
  padding: 3rem;
}
.image-contact {
  text-align: center;
}
.image-contact img {
  max-width: 27rem;
}
.info {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
.info span {
  font-family: "ULMGROTESK-MEDIUM";
}
.hora span {
  font-weight: 700;
}
.footer-texto {
  height: 3rem;
  display: flex;
  color: #ffff;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Poppins-Regular";
}
.footer-texto a {
  color: white;
  text-decoration: none;
}
.promo {
  background: #690a00;
}
.hamburguer {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 999999;
}
.mobile-nav {
  position: fixed;
  display: block;
  top: 0px;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  padding-top: 120px;
  transition: all 0.3s ease-in-out;
}
.mobile-nav.is-active {
  left: 0;
}

.splide__slide__container {
  text-align: center;
  /* margin-left: 5rem; */
  /* margin-right: 1rem; */
  margin: 0 3rem;
  padding: 1rem;
  margin-top: 2rem;
  /* padding-bottom: 2.5rem; */
  min-height: 25rem;
  transition: all 0.3s ease-in-out;
  height: 100%;
}
.splide__slide__container {
  background-color: #960e00;
}

.splide__slide__container h4 {
  color: #ffff;
  font-size: 2rem;
  text-align: left;
  font-family: "Agino-moul";
  text-shadow: 1px 1px 1px black;
}
.splide__pagination__page {
  display: none !important;
}
.texto {
  font-family: "Agino-moul";
  color: white;
  text-align: left !important;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  transform: translateX(20px);
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}
.splide__slide__container .texto {
  opacity: 1;
  transform: translateX(0px);
}

.splide__slide {
  position: static;
  padding-bottom: 3rem;
}

.splide__arrow--next {
  right: 0;
}

.splide__arrow--prev {
  left: 0;
}

.promo-horario {
  font-size: 0.9em;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

.promo-options-menu {
  width: 100%;
  background-color: #690a00;
  padding: 0.5rem 1rem;
}

.hoverable-promo {
  margin: 0;
}

.more-info {
  cursor: pointer;
  background-color: #690a00;
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: "Agino-moul";
}

.more-info:hover {
  color: #fff;
  background-color: #4f0800;
}

.promo-options-menu:hover + .promo-plates {
  opacity: 1;
  z-index: 9999999;
}

.promo-plates-container {
  font-family: "Agino-moul";
  text-align: left;
  color: #fff;
  margin-top: 1rem;
}

.promo-plates {
  position: absolute;
  width: 100%;
  background-color: #690a00;
  padding: 0 0 0 0;
  left: 100%;
  bottom: 0;
  opacity: 0;
  display: flex;
  transition: all 0.2s linear;
  z-index: -999999;
}

li:not(.is-active.is-visible) .promo-options-menu + .promo-plates {
  right: 100%;
  left: auto;
  opacity: 0;
}

.is-next .promo-options-menu + .promo-plates {
  right: 100%;
  left: auto;
  opacity: 0;
}

.is-next .promo-options-menu:hover + .promo-plates {
  opacity: 1;
  right: 100%;
  left: auto;
  z-index: 9999999;
}

.is-next .promo-options-menu + .promo-plates:hover {
  opacity: 1;
  right: 100%;
  left: auto;
  z-index: 9999999;
}

li:not(.is-active.is-visible) .promo-options-menu:hover + .promo-plates {
  opacity: 1;
  right: 100%;
  left: auto;
  z-index: 9999999;
}

li:not(.is-active.is-visible) .promo-options-menu + .promo-plates:hover {
  opacity: 1;
  right: 100%;
  left: auto;
  z-index: 9999999;
}

.plato {
  width: 100%;
}

.plato img {
  position: absolute;
  bottom: 0%;
  left: 100%;
  width: 7rem;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.promo-plates p {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  position: relative;
}

.promo-plates:hover {
  opacity: 1;
  z-index: 99999999;
}

.promo-plates .plato:hover {
  background-color: #4f0800;
}

.plato:hover img {
  opacity: 1;
}

.header-images {
  display: flex;
}
.mobile-nav a {
  display: block;
  margin: 0 auto 16px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin-bottom: 16px;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.mobile-nav a img {
  max-width: rem;
}
.hamburguer .bar,
.hamburguer:after,
.hamburguer:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 6px 8px;
  transition: 0.4s;
}
.hamburguer.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburguer.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburguer.is-active .bar {
  opacity: 0;
}
.bar span {
  position: relative;
  top: -0.5rem;
  font-family: "Agino-moul";
  color: #ffff;
  left: 2.7rem;
  font-size: 1.1rem;
}
.header-images img:last-child {
  max-width: 6rem;
  position: relative;
  top: -2rem;
  opacity: 0;
  transform: translateX(20px);
  transition: 0.3s all ease-in-out;
  object-fit: scale-down;
}
.splide__slide__container .header-images img:last-child {
  opacity: 1;
  transform: translateX(0px);
  animation: crescendo 1.5s alternate infinite ease-in;
}
@keyframes crescendo {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes crescendoPedido {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
#card-container {
  background-image: url("../img/burguerclasica.png");
  height: 20rem;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .modal-content {
    width: 50%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1400px) {
  /* .pedidos {
    position: relative;
    bottom: -13rem;
  } */
  .content {
    position: relative;
    top: 10rem;
  }
  .box img {
    max-width: 39rem;
    margin-top: 9%;
  }
  .redes-sociales {
    margin-top: 12%;
  }
  /* .pedidos {
    bottom: 4rem;
  } */
  .pedidos {
    animation: crescendoPedido 1s alternate infinite ease-in;
  }
  .side-buttons img {
    width: 5rem;
  }

  .volver-arriba {
    width: 5rem;
    height: 5rem;
  }

  .volver-arriba i {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1800px) {
  .cassete img {
    width: 26rem;
    left: -20rem;
  }
}
.content {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 3rem !important;
  transform: scale(2);
  padding: 30px;
  top: 11rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "ULMGROTESK-EXTRABOLD";
  left: -6rem;
  width: 20% !important;
  margin: auto;
}
.content .text:before,
.content .text:after {
  padding: 30px;
  color: white;
  content: attr(data-text);
  position: absolute;
  height: 100%;
  overflow: hidden;
  top: 0;
}
.content .text:before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation: glitch-1 2s linear infinite reverse;
}
.content .text:after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch-2 2s linear infinite reverse;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.content {
  width: 82%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content .text {
  position: relative;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 1rem !important;
  transform: scale(2);
  padding: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.tv img {
  width: 38rem;
  position: relative;
  top: 0rem;
  left: 10rem;
}
@media screen and (min-width: 1500px) {
  .tv img {
    width: 53rem;
    position: relative;
    top: 5rem;
    left: 6rem;
  }
  .redes-sociales {
    margin-top: 6%;
  }
  .content {
    position: relative;
    top: 20rem;
    left: -8rem;
  }
}
/* .gallery-grid{
    display: grid; 

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    
    gap: 0px;
    height: 100%;
}
#item-0 {
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 2;

    height: 100%;
    width: 100%;
 }

 #item-1 {
 
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #item-2 {
 
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 4;
    
 }
 #item-3 {
 
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    
 }
 #item-4 {
 
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 2;
    
 } */
.marquee {
  height: 43rem;
  width: 100vw;
  overflow: hidden;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  position: relative;
  overflow-x: hidden;
  top: -1rem;
  /* left: -10rem;  */
  transition: all 0.3s ease-in-out;
}
button {
  border: none;
  background: none;
}
.marqueeScroll {
  white-space: nowrap;
  font-size: 0px;
  white-space: nowrap;
  will-change: transform;
  font-family: "Galderglynn TitlingRg Bold";
  animation: marquee 30s linear infinite;
  position: absolute;
}
@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  .hero {
    height: 27vh;
  }

  .hamburger-container {
    top: 5%;
  }

  .pedidos img {
    width: 7rem;
  }
  .content h2 {
    font-size: 0.5rem;
  }
  .content {
    top: 0rem;
    left: -3rem;
  }
  .hamburguer {
    top: -4rem;
    left: -3rem;
  }
  .collapse:not(.show) {
    display: block !important;
  }
  .navbar-brand img {
    max-width: 5rem;
  }
  .redes-sociales img {
    width: 5.5rem;
    padding-top: 0.4rem;
  }

  .nosotros {
    height: 85vh;
  }
  .redes-sociales {
    margin-top: -25%;
  }
  #logo-animation img {
    max-width: 3rem;
  }
  .splide__slide__container {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .box img {
    max-width: 24rem;
  }
  .cassete img {
    width: 12rem;
    left: -8.9rem;
    top: 5rem;
  }
  .label {
    display: none;
  }
  .thunder {
    display: none;
  }
  .footer-texto {
    text-align: center;
  }
  .image-contact img {
    max-width: 18rem;
  }
  .navbar-brand img {
    width: 8rem;
  }

  .texto {
    opacity: 1;
    transform: translateX(0px);
  }

  .splide__slide__container {
    background-color: #960e00;
  }
  .header-images img:last-child {
    max-width: 12rem;
    object-fit: scale-down;
    opacity: 1;
    animation: crescendo 1.5s alternate infinite ease-in;
  }

  .pedidos {
    animation: crescendoSmall 1.5s alternate infinite ease-in;
  }

  .side-buttons {
    bottom: 3%;
  }

  .side-buttons > div {
    margin: 1rem;
  }

  .side-buttons img {
    width: 3.5rem;
  }

  .volver-arriba {
    width: 3.5rem;
    height: 3.5rem;
  }

  .subscribed-text {
    font-family: "ULMGROTESK-MEDIUM";
    font-size: 1.8em;
  }

  @keyframes crescendo {
    0% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(0.9);
    }
  }
  @keyframes circular {
    from {
      transform: rotate(0deg) translateX(50px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(50px) rotate(-360deg);
    }
  }

  @keyframes crescendoSmall {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 850px) {
  .splide__track {
    overflow: inherit;
  }
  .promo-plates {
    opacity: 1;
    left: 0;
    top: 100%;
    width: 100%;
    height: fit-content;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: 99999999;
  }

  .promo-plates.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .promo-plates-container + .hoverable-promo::after {
    transform: rotateX(180deg);
  }

  .arrow-down.rotate {
    transform: rotateX(180deg);
  }

  .promo-plates .plato:hover {
    background-color: inherit;
  }

  .plato:hover img {
    opacity: 0;
  }
  .arrow-down {
    width: 8%;
    transition: all 0.15s linear;
  }
}

@media screen and (min-width: 600px) and (max-width: 852px) {
  .splide__slide {
    /* padding: 0 3rem; */
  }
}

@media screen and (min-width: 1400px) {
  .thunder-us {
    display: block;
  }
  .smile-us {
    display: block;
  }
  .hero {
    height: 110vh;
  }
}
@media screen and (max-width: 380px) {
  .hero {
    height: 33vh;
  }
}
@media screen and (max-width: 400px) {
  .box img {
    max-width: 21rem;
  }
  .content {
    top: -3rem;
    left: -2rem;
  }
  .redes-sociales {
    margin-top: -41%;
  }
  .hamburguer {
    left: -6rem;
  }
}
@media screen and (min-width: 1500px) {
  .navbar-brand img {
    max-width: 13rem !important;
  }
  .cassete img {
    width: 27rem;
    left: -27rem;
  }
  @keyframes circular {
    from {
      transform: rotate(0deg) translateX(60px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(60px) rotate(-360deg);
    }
  }
  .smile-us {
    left: 42%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1499px) {
  .thunder-us {
    display: block;
    top: -1rem;
  }
  .smile-us {
    display: block;
    top: -1rem;
  }
}
@media screen and (min-width: 851px) {
  .arrow-down {
    display: none;
  }

  .hoverable-promo {
    width: 100%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1023px) {
  .hero {
    height: 65vh;
  }
  .content {
    top: 7rem;
    left: -5rem;
  }
  .redes-sociales {
    margin-top: -14%;
  }
  .nosotros {
    height: 90vh;
  }
  .cassete img {
    left: -4rem;
  }

  .hero {
    height: 42vh !important;
  }
}
@media screen and (min-width: 2000px) {
  .hero {
    height: 125vh;
  }
  .content {
    top: 27rem;
    left: -11rem;
  }
  .cassete img {
    left: -50rem;
    width: 49rem;
    top: -4rem;
  }
  .marquee {
    height: 37rem;
  }
  .navbar-brand img {
    max-width: 15rem !important;
  }
  .images-banner {
    height: 36rem;
  }
  .smile-us {
    left: 44%;
  }
  .nosotros {
    height: 83rem;
  }

  .show- .volver-arriba {
    width: 5rem;
    height: 5rem;
    margin-left: -0.7rem;
  }
}
